body {
  font-family: Arial;
  text-align: center;
  background-color: #f5f5f5;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

video {
  width: 300px;
  height: 220px;
  border-radius: 10px;
  border: 2px solid #333;
  background: black;
}
